#changeButton {
    -fx-background-color: #d9d9d9; /* Green */
    -fx-text-fill: #3e8e41;
    -fx-background-radius: 0px;
}

.button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-background-radius: 0px;
}

.text-field {
    -fx-background-radius: 0px;
}

.choice-box {
    -fx-pref-height: 65px;
    -fx-background-radius: 0px;
}
